<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="cn.com.ecrf.trq.repository.ConfigurationMapper">
	<select id="getConfiguration" parameterType="string" resultType="cn.com.ecrf.trq.model.SystemConfiguration">
		select id as id,
				a.key as key1,
				value as value1,
				comment as comment
		from ac_configuration a where a.key=#{key1}
	</select>
</mapper>