<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="cn.com.ecrf.trq.repository.CRFMapper">
	<resultMap id="patientInfoResultMap" type="cn.com.ecrf.trq.model.PatientInfoCase" >
	    <id column="id" property="id" jdbcType="INTEGER" />
	    <result column="no" property="no" jdbcType="VARCHAR" />
	    <result column="name" property="name" jdbcType="VARCHAR" />
	    <result column="abbr" property="abbr" jdbcType="VARCHAR" />
	    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
	    <result column="age" property="age" jdbcType="INTEGER" />
	    <result column="weight" property="weight" jdbcType="FLOAT" />
	    <result column="sex" property="sex" jdbcType="VARCHAR" />
	    <result column="ethic" property="ethic" jdbcType="VARCHAR" />
	    <result column="hys" property="hys" jdbcType="VARCHAR" />
	    <result column="height" property="height" jdbcType="INTEGER" />
	    <result column="yyks" property="yyks" jdbcType="VARCHAR" />
	    <result column="ryrq" property="ryrq" jdbcType="TIMESTAMP" />
	    <result column="cyrq" property="cyrq" jdbcType="TIMESTAMP" />
	    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
	    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
	</resultMap>
	<insert id="insertPatientInfo" parameterType="cn.com.ecrf.trq.model.PatientInfoCase">
      	<selectKey resultType="Integer" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID()
		</selectKey>
	    insert into crf_patient_info (id, no, name, abbr, birthday, age,
	      weight, sex, ethic, hys, height, yyks, ryrq, cyrq, ylfyfs, create_time, create_by)
	    values (#{id}, #{no}, #{name}, #{abbr}, #{birthday}, #{age}, 
	      #{weight}, #{sex}, #{ethic}, #{hys}, #{height}, #{yyks}, #{ryrq}, #{cyrq}, #{ylfyfs}, 
	      current_timestamp(), #{createBy})
	</insert>
	<update id="updatePatientInfo" parameterType="cn.com.ecrf.trq.model.PatientInfoCase" >
	    update crf_patient_info set birthday=#{birthday}, age=#{age},
	      weight=#{weight}, sex=#{sex}, ethic=#{ethic}, hys=#{hys}, height=#{height}, yyks=#{yyks}, ryrq=#{ryrq}, cyrq=#{cyrq}, ylfyfs=#{ylfyfs}，
	      weightud=#{weightud},heightud=#{heightud}
		where id=#{id}
	</update>
	<select id="getDoubtCRFNum" parameterType="string" resultType="int">
		select count(*) from crf_user_sign c where c.lockstatus=30 and cro_name=#{userName}
	</select>
  	<select id="getToDoNum" parameterType="string" resultType="int">
		select count(*) from crf_user_sign c where c.lockstatus=10 and cro_name=#{userName}
	</select>
	<select id="getPatientList" parameterType="cn.com.ecrf.trq.model.list.ListCondition" resultType="cn.com.ecrf.trq.model.list.ListReturn">
		select 
			p.abbr as abbr,
			p.no as no,
			p.id as id,
			us.cro_createtime as createDate,
			us.cro_updatetime as lastModified,
			us.progress as progress
		 from crf_patient_info p, crf_user_sign us where us.lockstatus=#{lockStatus} and p.no=us.no
		 <if test="abbr != null and abbr != ''" >
        	and p.abbr=#{abbr}
      	</if>
      	<if test="no != null and  no != ''" >
        	and p.no=#{no}
      	</if>
		<choose>
			<when test="progressType == 1">
				and us.progress >= #{progress}
			</when>
			<when test="progressType == 2">
				and #{progress} >= us.progress
			</when>
		    <otherwise>    
            </otherwise>    
		</choose>
      	<if test="createDateForm != null" >
        	and us.cro_createtime>=#{createDateForm} and #{createDateTo}>=us.cro_createtime
      	</if>
      	<if test="lastModifiedFrom != null" >
        	and us.cro_updatetime>=#{lastModifiedFrom} and #{lastModifiedTo}>=us.cro_updatetime
      	</if>
      	<if test="userName != null">
      		and (us.cro_name=#{userName} or us.crm_name=#{userName} or us.dm_name=#{userName})
      	</if>
      	<if test="limitSize > 0">
      		LIMIT #{limitStart},#{limitSize}
      	</if>
	</select>
	
	<select id="getTotalPatientNum" parameterType="cn.com.ecrf.trq.model.list.ListCondition" resultType="int">
		select 
			count(*)
		 from crf_patient_info p, crf_user_sign us where us.lockstatus=#{lockStatus} and p.no=us.no
		 <if test="abbr != null and abbr != ''" >
        	and p.abbr=#{abbr}
      	</if>
      	<if test="no != null and  no != ''" >
        	and p.no=#{no}
      	</if>
		<choose>
			<when test="progressType == 1">
				and us.progress >= #{progress}
			</when>
			<when test="progressType == 2">
				and #{progress} >= us.progress
			</when>
		    <otherwise>    
            </otherwise>    
		</choose>
      	<if test="createDateForm != null" >
        	and us.cro_createtime>=#{createDateForm} and #{createDateTo}>=us.cro_createtime
      	</if>
      	<if test="lastModifiedFrom != null" >
        	and us.cro_updatetime>=#{lastModifiedFrom} and #{lastModifiedTo}>=us.cro_updatetime
      	</if>
	</select>
	
	
	
	<select id="getDoutSummaryList" parameterType="cn.com.ecrf.trq.model.list.ListCondition" resultType="cn.com.ecrf.trq.model.list.ListReturn">
		select 
			p.abbr as abbr,
			p.no as no,
			p.id as id,
			us.cro_createtime as createDate,
			us.cro_updatetime as lastModified,
			us.progress as progress
		 from crf_patient_info p, crf_user_sign us where c.lockstatus=#{lockStatus} and p.no=us.no
		 <if test="abbr != null" >
        	and p.abbr=#{abbr}
      	</if>
      	<if test="no != null" >
        	and p.no=#{no}
      	</if>
      	<if test="createDateForm != null" >
        	and us.cro_createtime>=#{createDateForm} and #{createDateTo}>=us.cro_createtime
      	</if>
      	<if test="lastModifiedFrom != null" >
        	and us.cro_updatetime>=#{lastModifiedFrom} and #{lastModifiedTo}>=us.cro_updatetime
      	</if>
	</select>
	<select id="getProgress" parameterType="string" resultType="int">
		select progress from crf_user_sign where no=#{no}
	</select>
	<select id="getCRFSumm" parameterType="int" resultType="cn.com.ecrf.trq.model.list.ListReturn">
		select 
			p.abbr as abbr,
			p.no as no,
			p.id as id,
			us.cro_createtime as createDate,
			us.cro_updatetime as lastModified,
			us.progress as progress
		 from crf_patient_info p, crf_user_sign us where p.no=us.no and p.id=#{id}
	</select>
	<select id="getBasicInfo" parameterType="int" resultType="cn.com.ecrf.trq.model.PatientInfoCase">
		select 
			id as id,
			no as no,
			name as name,
			abbr as abbr,
			birthday as birthday,
			age as age,
			weight as weight,
			weightud as weightud,
			sex as sex,
			ethic as ethic,
			hys as hys,
			height as height,
			heightud as heightud,
			yyks as yyks,
			ryrq as ryrq,
			cyrq as cyrq,
			ylfyfs as ylfyfs
			from crf_patient_info where id=#{id}
	</select>
	<select id="getPersonHistory" parameterType="int" resultType="cn.com.ecrf.trq.model.PersonAllergicHistoryCase">
		select 
			pi.id as id,
			pi.no as no,
			smoke as smoke,
			drink as drink,
			drug as drug,
			food as food,
			other as other,
			druglb as druglb,
			foodlb as foodlb,
			otherlb as otherlb
			from crf_person_history ph, crf_patient_info pi where pi.id=#{id} and pi.no=ph.no
	</select>
	<insert id="insertPersonHistory" parameterType="cn.com.ecrf.trq.model.PersonAllergicHistoryCase">
	    insert into crf_person_history (no, smoke, drink, drug, food,
	      other, druglb, foodlb, otherlb, create_time)
	    values (#{no}, #{smoke}, #{drink}, #{drug}, #{food}, #{other}, 
	      #{druglb}, #{foodlb}, #{otherlb}, current_timestamp());
	</insert>
	<update id="updatePersonHistory" parameterType="cn.com.ecrf.trq.model.PersonAllergicHistoryCase" >
		update crf_person_history set
		smoke=#{smoke}, drink=#{drink}, drug=#{drug},
		food=#{food}, other=#{other}, druglb=#{druglb}, foodlb=#{foodlb}, otherlb=#{otherlb}, update_time=now()
  		where no=#{no}
	</update>
	<update id="updateProgress" parameterType="int">
		update crf_user_sign us set us.progress=#{progress} where us.no=#{no}
	</update>
	<select id="getPastHistory" parameterType="int" resultType="cn.com.ecrf.trq.model.PastHistoryCase">
		select 
			pi.id as id,
			ph.no as no,
			allergy as allergy,
			allergytxt as allergytxt,
			disease as disease,
			disease1 as disease1,
			disease2 as disease2,
			diseasetxt as diseasetxt,
			gxb as gxb,
			gxy as gxy,
			hasAllergy as hasAllergy,
			hasDisease as hasDisease,
			tnb as tnb
			from crf_past_history ph, crf_patient_info pi where pi.id=#{id} and pi.no=ph.no
	</select>
	<insert id="insertPastHistory" parameterType="cn.com.ecrf.trq.model.PastHistoryCase">
	    insert into crf_past_history (no, allergy, allergytxt, disease, disease1, disease2, diseasetxt, gxb,
	    gxy, hasAllergy, hasDisease, tnb)
	    values (#{no}, #{allergy}, #{allergytxt}, #{disease}, #{disease1}, #{disease2}, #{diseasetxt}, #{gxb}, #{gxy}, #{hasAllergy}, 
	    #{hasDisease}, #{tnb});
	</insert>
	<update id="updatePastHistory" parameterType="cn.com.ecrf.trq.model.PastHistoryCase" >
		update crf_past_history set
		allergy=#{allergy}, allergytxt=#{allergytxt}, disease=#{disease},
		disease1=#{disease1}, disease2=#{disease2}, diseasetxt=#{diseasetxt},gxb=#{gxb},
		gxy=#{gxy}, hasAllergy=#{hasAllergy}, hasDisease=#{hasDisease}, tnb=#{tnb} 
  		where no=#{no}
	</update>
	<update id="updateNextSeq" parameterType="int">
		update crf_no set seq=seq+1 where fk_organization_id=#{id}
	</update>
	<select id="getNextSeq" resultType="int">
		select seq from crf_no where fk_organization_id=#{id}
	</select>
	<insert id="insertCRF" parameterType="cn.com.ecrf.trq.model.PatientInfoCase">
      	<selectKey resultType="int" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID()
		</selectKey>
	    insert into crf_patient_info (no, abbr, create_time, create_by)
	    values (#{no}, #{abbr}, current_timestamp(), #{createBy})
	</insert>
	<select id="getFormEnumValueByName" parameterType="map" resultType="int">
		select seq from crf_form_enum where name=#{name} and abbr=#{type}
	</select>
	<select id="getFormEnumValue" parameterType="map" resultType="string">
		select name from crf_form_enum where abbr=#{type} and seq=#{seq}
	</select>
	<select id="getDiseaseInfo" parameterType="int" resultType="cn.com.ecrf.trq.model.DiseaseInfoCase">
		select 
			pi.id as id,
			ph.no as no,
			diagnosis as diagnosis,
			disease1 as disease1,
			disease2 as disease2,
			disease3 as disease3,
			diseasetxt as diseasetxt,
			fy1 as fy1,
			fy2 as fy2,
			zy as zy,
			zytxt as zytxt
			from crf_disease_info ph, crf_patient_info pi where pi.id=#{id} and pi.no=ph.no
	</select>
	<insert id="insertDiseaseInfo" parameterType="cn.com.ecrf.trq.model.DiseaseInfoCase">
	    insert into crf_disease_info (no, diagnosis, disease1, disease2, disease3, diseasetxt, fy1, fy2,
	    zy, zytxt, create_time)
	    values (#{no}, #{diagnosis}, #{disease1}, #{disease2}, #{disease3}, #{diseasetxt}, #{fy1}, #{fy2}, #{zy}, #{zytxt},
	    current_timestamp());
	</insert>
	<update id="updateDiseaseInfo" parameterType="cn.com.ecrf.trq.model.DiseaseInfoCase" >
		update crf_disease_info set
		diagnosis=#{diagnosis}, disease1=#{disease1}, disease2=#{disease2},
		disease3=#{disease3}, diseasetxt=#{diseasetxt}, fy1=#{fy1},fy2=#{fy2},
		zy=#{zy}, zytxt=#{zytxt}, update_time=now()
  		where no=#{no}
	</update>
	<select id="getDrugUseInfo" parameterType="int" resultType="cn.com.ecrf.trq.model.DrugUseCase">
		select 
			pi.id as id,
			ph.no as no,
			seq as times,
			history as history,
			adr as adr,
			adrtxt as adrtxt,
			banColor as banColor,
			bantxt as bantxt,
			banDruglb as banDruglb,
			batchNumber as batchNumber,
			bottlelb as bottlelb,
			dose as dose,
			endDate as endDate,
			endH as endH,
			endM as endM,
			food as food,
			foodtxt as foodtxt,
			gSolvent2Dose as gSolvent2Dose,
			gpSolvent as gpSolvent,
			gpSolvent1Dose as gpSolvent1Dose,
			gpSolvent3Dose as gpSolvent3Dose,
			gpSolvent3Name as gpSolvent3Name,
			gpSolvent3Percent as gpSolvent3Percent,
			hasBan as hasBan,
			hasFood as hasFood,
			hasInjection as hasInjection,
			injectionlb as injectionlb,
			prepareTime as prepareTime,
			prepareTimeUd as prepareTimeUd,
			sameBottle as sameBottle,
			sameGroup as sameGroup,
			solvent as solvent,
			solventDose as solventDose,
			solventName as solventName,
			solventPercent as solventPercent,
			startDate as startDate,
			startH as startH,
			startM as startM,
			way as way,
			way1Speed as way1Speed,
			way1Time as way1Time,
			way2Speed as way2Speed,
			way3Name as way3Name,
			way3Speed as way3Speed,
			way3Unit as way3Unit
		from crf_druguse_info ph, crf_patient_info pi where pi.id=#{id} and pi.no=ph.no
	</select>
	<insert id="insertDrugUseInfo" parameterType="cn.com.ecrf.trq.model.DrugUseCase">
	    insert into crf_druguse_info (no, seq, history, adr, adrtxt, banColor, bantxt, banDruglb,
	    batchNumber, bottlelb,dose, endDate, endH, endM, food, foodtxt, gSolvent2Dose, gpSolvent1Dose,
	    gpSolvent3Dose, gpSolvent3Name, gpSolvent3Percent, hasBan, hasFood, hasInjection, injectionlb,
	    prepareTime, prepareTimeUd, sameBottle, sameGroup, solvent, solventDose, solventName, solventPercent,
	    startDate, startH, startM, way, way1Speed, way1Time, way2Speed, way3Name, way3Speed, way3Unit)
	    values (#{no}, #{times}, #{history}, #{adr}, #{adrtxt}, #{banColor}, #{bantxt}, #{banDruglb}, 
	    #{batchNumber}, #{bottlelb},#{dose}, #{endDate}, #{endH}, #{endM}, #{food}, #{foodtxt}, #{gSolvent2Dose}, #{gpSolvent1Dose},
	    #{gpSolvent3Dose}, #{gpSolvent3Name},#{gpSolvent3Percent}, #{hasBan}, #{hasFood}, #{hasInjection}, #{injectionlb}, 
	    #{prepareTime}, #{prepareTimeUd}, #{sameBottle}, #{sameGroup},#{solvent}, #{solventDose}, #{solventName}, #{solventPercent},
	     #{startDate}, #{startH}, #{startM}, #{way},#{way1Speed}, #{way1Time}, #{way2Speed}, #{way3Name}, #{way3Speed}, #{way3Unit});
	</insert>
	<update id="updateDrugUseInfo" parameterType="cn.com.ecrf.trq.model.DrugUseCase" >
		update crf_druguse_info set
		history=#{history}, adr=#{adr},
		adrtxt=#{adrtxt}, banColor=#{banColor}, bantxt=#{bantxt},banDruglb=#{banDruglb},
		batchNumber=#{batchNumber}, bottlelb=#{bottlelb}
  		where no=#{no} and seq=#{times}
	</update>
	<select id="getDrugCombinationList" parameterType="int" resultType="cn.com.ecrf.trq.model.DrugCombinationCase">
		select d.seq as seq,
			   d.no as no,
			   d.name as name,
			   d.startDate as startDate,
			   d.endDate as endDate,
			   d.dose as dose,
			   d.unit as unit,
			   d.way as way,
			   d.frequency as frequency
		from crf_drugcombination_info d, crf_patient_info p where p.id=#{id} and p.no=d.no order by seq asc
	</select>
	<insert id="insertDrugCombination" parameterType="cn.com.ecrf.trq.model.DrugCombinationCase">
		<selectKey resultType="Integer" order="AFTER" keyProperty="seq">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into crf_drugcombination_info(seq,no,name,startDate,endDate,dose,unit,way,frequency) values(#{seq}, #{no}, #{name}, #{startDate}, #{endDate}, #{dose}, #{unit}, #{way}, #{frequency});
	</insert>
	<update id="updateDrugCombination" parameterType="cn.com.ecrf.trq.model.DrugCombinationCase">
		update crf_drugcombination_info set no=#{no}, name=#{name}, startDate=#{startDate}, endDate=#{endDate}, dose=#{dose}, unit=#{unit},
		way=#{way}, frequency=#{frequency} where seq=#{seq}
	</update>
	<delete id="deleteDrugCombination" parameterType="string">
		delete from crf_drugcombination_info where no=#{no}
	</delete>
	<select id="getLabExamCase" parameterType="map" resultType="cn.com.ecrf.trq.model.LabExamCase">
		select
			   l.no as no,
			   l.done as done,
			   l.examdate as examDate,
			   sample as sample,
			   result as result,
			   resulttxt1 as resulttxt1,
			   resulttxt2 as resulttxt2,
			   resulttxt3 as resulttxt3,
			   data1 as data1,
			   data2 as data2,
			   data3 as data3,
			   data4 as data4,
			   data5 as data5,
			   data6 as data6,
			   l.phase as phase
		from crf_labexam_info l, crf_patient_info p where p.id=#{id} and p.no=l.no and phase=#{phase}
	</select>
	<insert id="insertLabExamCase" parameterType="cn.com.ecrf.trq.model.LabExamCase">
		insert into crf_labexam_info(no, done, examdate, sample, result, resulttxt1, resulttxt2, resulttxt3, data1, data2, data3, data4, data5, data6, phase) values(#{no}, #{done}, #{examDate}, #{sample},#{result}, #{resulttxt1}, #{resulttxt2}, #{resulttxt3}, #{data1}, #{data2}, #{data3}, #{data4},#{data5}, #{data6}, #{phase});
	</insert>
	<update id="updateLabExamCase" parameterType="cn.com.ecrf.trq.model.LabExamCase">
		update crf_labexam_info set done=#{done},examdate=#{examDate}, sample=#{sample}, result=#{result}, resulttxt1=#{resulttxt1},
		resulttxt2=#{resulttxt2}, resulttxt3=#{resulttxt3}, data1=#{data1}, data2=#{data2}, data3=#{data3},
		data4=#{data4}, data5=#{data5}, data6=#{data6} where no=#{no} and phase=#{phase}
	</update>
	<select id="getDrugSummary" parameterType="int" resultType="cn.com.ecrf.trq.model.DrugSummaryCase">
		select 	d.no as no,
				d.startDate as startDate,
				d.endDate as endDate,
				d.ending as ending,
				d.deathReason as deathReason,
				d.deathDate as deathDate,
				d.adr as adr,
				d.unreasonable as unreasonable,
				d.intervention as intervention,
				d.interventiontxt as interventiontxt,
				d.treatmentCost as treatmentCost,
				d.drugCost as drugCost,
				d.trqCost as trqCost,
				d.remark as remark
		from crf_drugsummary_info d, crf_patient_info p where p.id=#{id} and p.no=d.no
	</select>
	<insert id="insertDrugSummary" parameterType="cn.com.ecrf.trq.model.DrugSummaryCase">
		insert into crf_drugsummary_info (no, startDate, endDate, ending, deathReason, deathDate,
		adr, unreasonable, intervention, interventiontxt, treatmentCost, drugCost, trqCost, remark)
		values (#{no}, #{startDate}, #{endDate}, #{ending}, #{deathReason}, #{deathDate}, 
		#{adr}, #{unreasonable}, #{intervention}, #{interventiontxt}, #{treatmentCost}, #{drugCost},
		#{trqCost}, #{remark});
	</insert>
	<update id="updateDrugSummary" parameterType="cn.com.ecrf.trq.model.DrugSummaryCase">
		update crf_drugsummary_info set no=#{no}, startDate=#{startDate}, endDate=#{endDate},
		ending=#{ending},deathReason=#{deathReason}, deathDate=#{adr}, unreasonable=#{unreasonable},
		intervention=#{intervention}, interventiontxt=#{interventiontxt}, treatmentCost=#{treatmentCost},
		drugCost=#{drugCost}, trqCost=#{trqCost}, remark=#{remark} where no=#{no}
	</update>
</mapper>