<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.com.ecrf.trq.repository.UserSignMapper" >
  <insert id="insertUserSign" parameterType="cn.com.ecrf.trq.model.CRFUserSign">
  	insert into crf_user_sign(no, lockstatus, cro_name, cro_createtime, cro_updatetime, progress)
  	values(#{no}, #{lockStatus}, #{croName}, current_timestamp(), current_timestamp(), #{progress});
  </insert>
  <update id="updateUserSign" parameterType="cn.com.ecrf.trq.model.CRFUserSign">
  	update crf_user_sign set lockstatus=#{lockStatus}
  	<if test="croName != null" >
       ,cro_name=#{croName}
    </if>
    <if test="croSignTime != null" >
       ,cro_signtime=#{croSignTime}
    </if>
    <if test="crmName != null" >
       ,crm_name=#{crmName}
    </if>
    <if test="crmSignTime != null" >
       ,crm_signtime=#{crmSignTime}
    </if>
    <if test="dmName != null" >
       ,dm_name=#{dmName}
    </if>
    <if test="dmSignTime != null" >
       ,dm_signtime=#{dmSignTime}
    </if>
  	where no=#{no}
  </update>
  <update id="updateUserSignDate" parameterType="cn.com.ecrf.trq.model.CRFUserSign">
  	update crf_user_sign set cro_updatetime=current_timestamp() where no=#{no}
  </update>
  <delete id="deleteUserSign" parameterType="string">
  	delete from crf_user_sign where no=#{no}
  </delete>
  <select id="getUserSignByNo" parameterType="string" resultType="cn.com.ecrf.trq.model.CRFUserSign">
  	select 
  		no as no,
  		lockstatus as lockStatus,
  		cro_name as croName,
  		cro_createtime as croCreateTime,
  		cro_updatetime as croUpdateTime,
  		cro_signtime as croSignTime,
  		dm_name as dmName,
  		dm_signtime as dmSignTime,
  		progress as progress
  	from crf_user_sign where no=#{no}
  </select>
</mapper>