<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.com.ecrf.trq.repository.UserSignMapper" >
  <insert id="insertUserSign" parameterType="cn.com.ecrf.trq.model.CRFUserSign">
  	insert into crf_user_sign(no, lockstatus, cro_name, cro_createtime, progress)
  	values(#{no}, #{lockStatus}, #{croName}, current_timestamp(), #{progress});
  </insert>
</mapper>